*{
    margin: 0;
    padding: 0;
}

body{
    background: blue;
    padding: 20px;
}
/* Cabecera*/

header{
    max-width: 1000px;
    min-height: 141px;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    background: White;

}
#logo{
    height: 20px;
    width: 35px;
    float: left;
    margin-top: 20;
    margin-left: 20;
    animation: 1s entradalogo 1;
}
/* Cabecera*/





/*menu horizontal*/
#menu-h{
    max-width: 1000px;
    min-height: 50px;
    background: #000;
    margin: 0 auto;
}

#menu-h ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

#menu-h a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    background: #000;
    font-family: arial;
    font-size: 18px;
} 

#menu-h a:hover {
    background: #069;
    
}

#menu-h ul ul{
    display: none;
    position: absolute;
    
}

#menu-h ul li:hover ul{
    display: block;
}


/*menu horizontal*/
#banner{
    max-width: 1000px;
    min-height: 250px;
    margin: 0 auto;
    background: #fff;
}

#contenedor{
    max-width: 1000px;
    min-height: 700px;
    margin: 0 auto;
    background: #fff;
}
/*menu vertical*/


#menu-v{
    width: 300px;
    min-height: 700px;
    background: grey;
    float: left;
}

#menu-v ul{
    list-style: none;
    padding: 10px;
    
}

#menu-v a{
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 8px;
    border-radius: 5px;
    font-family: arial;
    font-size: 18px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */

}

#menu-v a:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
#menu-v a:hover img{
    animation: 1s rotacion 1;
}


/*menu vertical*/

/*Contenido*/




.form{
    width:400px;height:400px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50 - 220px) auto;padding:20px 30px;max-width:calc(100vw - 0px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:center
}

input{
    width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2
}

input:focus{
    border-bottom:2px solid #78788c}

p:before{
    content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}

button:hover{
    background:#78788c;
    color:#fff;
}

button{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
div{
    content:'Hi';
    position:center;
    bottom:-15px;
    right:-20px;
    background:#50505a;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000;
}
span{
    margin:0 0 5px 0 15px;
}

#contenido{
    width: 700px;
    min-height: 700px;
    background: #fff;
    float: right;
    padding: 15px;
    box-sizing: border-box;
}

#contenido h2{
    text-align: center;
    margin-bottom: 30px;
    
}
#contenido h2{
    font-family: arial;
    
}
#contenido p{
    margin-bottom: 30px;
    font-family: arial;
    font-size: 18px;
    text-align: justify;
}

.img-f{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
}
.img-combo{
     float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
}
#contenido a{
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-family: arial;
    font-size: 18px;
}
#contenido a:hover{
    background: #72E1D4;
}

/*Contenido*/


/*pie de pagina*/

footer{
    max-width: 1000px;
    margin: 0 auto;
    background: #000;
    border-radius: 0 0 20px 20px; 
    color: #fff;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 18px;
}
/*pie de pagina*/



/*keyframe*/

@keyframes entradalogo {
    0%{
        transform: translateY{-200px};
    }
}

@keyframes rotacion {
    0%{
        transform: rotate(270deg);
    }
}






















